body {
    padding: 0;
    margin: 0;
}
.content-container {
  width: 1280px;
  margin: auto;
}
.menu {
  text-align: center;
  margin: 20px 0;
}
.menu a {
  padding-right: 65px;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 900;
  line-height: 2.2;
  letter-spacing: 2.7px;
  color: #16a085;
  text-decoration: none;
}
  .text-conteiner {
    padding: 59px 108px 94px 113px;
    font-family: 'Roboto';
    font-weight: 900;
    text-align: center;
    color: #373737;
    background-color: #f5f6f7;
  }
.title-text {
  font-weight: 900;
  padding-bottom: 34px;
  margin: 0;
  font-size: 22px;
  letter-spacing: 3.3px;
}
.text {
    padding-bottom: 41px;
    margin: 0;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 2.4px;
}
.START {
  padding: 18px 45px 18px 43px;
  background-color: #16a085;
  font-family: 'Roboto';
  font-weight: 600;
  border: none;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 1.8px;
  color: #fff;
  border-radius: 5px;
}
.footer {
  padding: 0;
}
.footer p {
  padding: 47px 104px 45px 0;
  margin: 0;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 2.4px;
  text-align: right;
  color: #373737;
}